/node_modules
/public/hot
/public/storage
/public/assets/images/**/*
/storage/*.key
/storage/*.index
/vendor
/.idea
/.vagrant
/config/git.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
