.post {
    margin-bottom: 12px;
} 

.post-date-line {
    margin-bottom: 12px;    
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 1rem 1rem;
    }        
}

a.blog-header-link {
    text-decoration: none;
    color: black;
}

a.blog-header-link:hover {
    color: blue;
}

/* label[for='markdown'] {
    display: block;
}


textarea[id='markdown'] {
    display: block;
}
 */

.btn-tiny {
    padding: .20rem .4rem;
    font-size: .675rem;
    line-height: 1.1;
    border-radius: .2rem;
}    

a.headline {
    color: rgb(36, 35, 35);
}

a.headline:hover {
    color: rgb(42, 42, 230);
}

.form-control {
    color: black !important;
}

a i.admin-icon {
    color: white;
}

a[disabled] i.admin-icon {
    color: darkslategrey !important;
}

.admin-nav {
    color: black;
    font-size: 150%;
}

.neilyoung {
    /* background-color: pink; */
    color: navy;
    font-weight: 900;
}

.simple-list-item {
    list-style-type: none;
    list-style-position: outside;
    margin-left: -30px;
}

.pseudo-list {
    display: inline-block;        
}


/* ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active,
.ui-menu .ui-menu-item a.ui-state-focus */

/* a.ui-state-focus

 {

    border: 1px solid navy;
    background-color: pink !important;
} */

/* .ui-menu .ui-menu-item:hover, .ui-state-hover, .ui-widget-content
.ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
    background-color: red !important;
    font-weight: bold;
} */
/* 
.ui-state-hover {
    background: #428BCA!important;
}
/*
.ui-widget-content .ui-state-active {
    color: #5b518b; 
} */


/* .ui-autocomplete .ui-menu-item a.ui-state-focus {
    background: #C4FFC4 !important;
    border: 1px solid #32BE61 !important;
} */