:root {
    --secondary-bg-color: #e9ecef;
}

.post {
    margin-bottom: 12px;
} 

.post-date-line {
    margin-bottom: 12px;    
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 1rem 1rem;
    }        
}

a.blog-header-link {
    text-decoration: none;
    color: black;
}

a.blog-header-link:hover {
    color: blue;
}

/* label[for='markdown'] {
    display: block;
}


textarea[id='markdown'] {
    display: block;
}
 */

.btn-tiny {
    padding: .20rem .4rem;
    font-size: .675rem;
    line-height: 1.1;
    border-radius: .2rem;
}    

a.headline {
    color: rgb(36, 35, 35);
}

a.headline:hover {
    color: rgb(42, 42, 230);
}

.form-control {
    color: black !important;
}

a i.admin-icon {
    color: white;
}

a[disabled] i.admin-icon {
    color: darkslategrey !important;
}

.admin-nav {
    color: black;
    font-size: 150%;
}

div.navbar + nav.main-nav {
    margin-top: 50px;
}
a {
    color: black;
}

ul.active-tags-list li {
    display: inline;
    list-style-type: none;
    margin-left: 0;
}

div.active-tag-list {
    background-color: var(--secondary-bg-color);
    padding: 8px 4px 4px 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

div.show-full-post {
    margin-top: 50px;
}
.simple-list-item {
    list-style-type: none;
    list-style-position: outside;
    margin-left: -30px;
}

pre {
    background-color: whitesmoke;
    line-height: 24px;
}

.wrapper {
    /* max-width: 940px; */
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
}

.wrapper > * {
    /* border: 1px solid #f08c00;
    background-color: #ffec99; */
    padding: 2px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-head {
    grid-area: header;
}

.content {
    grid-area: content;
}

.side {
    grid-area: sidebar;
}

.main-footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    /* grid-gap: 10px; */
    grid-gap: 20px;
    grid-template-areas: "header" "content" "sidebar" "footer";
}

@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 3fr 2fr;
        grid-template-areas: "header  header" "content sidebar" "footer  footer";
    }
    nav ul {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 700px) {
    .wrapper {
        grid-template-columns: 5fr 2fr;
        grid-template-areas: "header  header" "content sidebar" "footer  footer"
    }
    nav ul {
        flex-direction: column;
    }
}

@media (min-width: 900px) {
    /* div.wrapper::before {
        content: '<span>900</span>';
    } */
    .wrapper {
        /* max-width: 1400px;         */
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "header  header" "content sidebar" "footer  footer"
    }
    nav ul {
        flex-direction: column;
    }
}

@media (min-width: 1200px) {
    /* div.wrapper::before {
        content: '<span>900</span>';
    } */
    .wrapper {
        max-width: 1200px;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "header  header" "content sidebar" "footer  footer"
    }
    nav ul {
        flex-direction: column;
    }
}


/* ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active,
.ui-menu .ui-menu-item a.ui-state-focus */

/* a.ui-state-focus

 {

    border: 1px solid navy;
    background-color: pink !important;
} */

/* .ui-menu .ui-menu-item:hover, .ui-state-hover, .ui-widget-content
.ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
    background-color: red !important;
    font-weight: bold;
} */
/* 
.ui-state-hover {
    background: #428BCA!important;
}
/*
.ui-widget-content .ui-state-active {
    color: #5b518b; 
} */


/* .ui-autocomplete .ui-menu-item a.ui-state-focus {
    background: #C4FFC4 !important;
    border: 1px solid #32BE61 !important;
} */