:root {
    --secondary-bg-color: #e9ecef;
}

.post {
    margin-bottom: 12px;
} 

.post-date-line {
    margin-bottom: 12px;    
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 1rem 1rem;
    }        
}

a.blog-header-link {
    text-decoration: none;
    color: black;
}

a.blog-header-link:hover {
    color: blue;
}
div.jumbotron div {
    padding: 0 1em 0 1em;
}
#seo_description {
    height: 150px;
}

/* label[for='markdown'] {
    display: block;
}


textarea[id='markdown'] {
    display: block;
}
 */

.btn-tiny {
    padding: .20rem .4rem;
    font-size: .675rem;
    line-height: 1.1;
    border-radius: .2rem;
}    

h4.subtitle {
    font-style: italic;
    font-size: 120%;
}

a.headline {
    color: rgb(36, 35, 35);
}

a.headline:hover {
    color: rgb(42, 42, 230);
}

.form-control {
    color: black !important;
}

a i.admin-icon {
    color: white;
}

a[disabled] i.admin-icon {
    color: darkslategrey !important;
}

div.container  a {
    /* color: maroon !important; */
    font-weight: 600;
}

div.tags-container a, div.show-full-post li a  {
    font-weight: 400;
}

.admin-nav {
    color: black;
    font-size: 150%;
}

div.navbar + nav.main-nav {
    margin-top: 50px;
}
a {
    color: black;
}

ul.active-tags-list li {
    display: inline;
    list-style-type: none;
    margin-left: 0;
}

div.active-tag-list {
    background-color: var(--secondary-bg-color);
    padding: 8px 4px 4px 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

div.show-full-post {
    margin-top: 50px;
}
.simple-list-item {
    list-style-type: none;
    list-style-position: outside;
    margin-left: -30px;
}

pre {
    background-color: whitesmoke;
    line-height: 24px;
}

code {
    color: #2b1b17 !important;
    background-color: whitesmoke;
}

.copy-code-button {
    margin-top: 0; 
}

/*
 | These two lines bring the SimpleMDE editor 
 | on top of the fixed admin navbar. 
 */
.editor-toolbar.fullscreen {
    z-index: 9000 !important;
    height: 55px !important;
}

.admin-bar-button {
    margin-top: 5px;
    margin-left: 3px;
}

.search-term {
    color: navy;
    background-color: yellow;
}
 
blockquote {
    margin: 12px 0 12px 25px;
    /* border-top: 1px solid lightgray;     */
    border-left: 6px solid lightgray; 
    /* border-bottom: 1px solid lightgray; */
    padding-top:16px;
    padding-left: 24px;
}

h4, h5 {
    margin-top: 24px;
    margin-bottom: 12px;
}

.code-header {
    background-color:lightgrey;
    padding: 3px 0 3px 6px;
    font-size: 80%;
    border-top: 1px solid #a7a09f;
    border-bottom: 1px solid #a7a09f;
}
.code-footer {
    background-color: lightgrey;
    padding: 3px 0 3px 6px;
    font-size: 80%;
    border-top: 1px solid slategray;
    border-bottom: 1px solid slategray;
    margin-top: -1.2em;
}

code pre {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    /* margin-bottom: 0; */
}