.wrapper {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
}

.wrapper>* {
    /* border: 1px solid #f08c00;
    background-color: #ffec99; */
    padding: 2px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-head {
    grid-area: header;
}

.content {
    grid-area: content;
}

.side {
    grid-area: sidebar;
}

.main-footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    /* grid-gap: 10px; */
    grid-gap: 20px;
    grid-template-areas: "content" "sidebar" "footer";
}

@media (min-width: 320px) {
    .wrapper {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "header" "content sidebar" "footer  footer";
    }
    nav ul {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 3fr 2fr;
        grid-template-areas: "content sidebar" "footer  footer";
    }
    nav ul {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 700px) {
    .wrapper {
        grid-template-columns: 5fr 2fr;
        grid-template-areas: "content sidebar" "footer  footer"
    }
    nav ul {
        flex-direction: column;
    }
}

@media (min-width: 900px) {
    /* div.wrapper::before {
        content: '<span>900</span>';
    } */
    .wrapper {
        /* max-width: 1400px;         */
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "header  header" "content sidebar" "footer  footer"
    }
    nav ul {
        flex-direction: column;
    }
}

@media (min-width: 1200px) {
    /* div.wrapper::before {
        content: '<span>900</span>';
    } */
    .wrapper {
        max-width: 1200px;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "header  header" "content sidebar" "footer  footer"
    }
    nav ul {
        flex-direction: column;
    }
}


/* ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active,
.ui-menu .ui-menu-item a.ui-state-focus */


/* a.ui-state-focus

 {

    border: 1px solid navy;
    background-color: pink !important;
} */


/* .ui-menu .ui-menu-item:hover, .ui-state-hover, .ui-widget-content
.ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
    background-color: red !important;
    font-weight: bold;
} */


/* 
.ui-state-hover {
    background: #428BCA!important;
}
/*
.ui-widget-content .ui-state-active {
    color: #5b518b; 
} */


/* .ui-autocomplete .ui-menu-item a.ui-state-focus {
    background: #C4FFC4 !important;
    border: 1px solid #32BE61 !important;
} */